body {
    font-family: "Avenir Next", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;

    margin: 0;
    text-align: justify;
}

#content {
    width: 65ex;
    margin-left: 15%;
}

#footnotes {
    padding-left: 10%;
    margin-top: 2em;
    background-color: #CCC;
}


a {
    color: #666;
    text-decoration: underline;
}

a:hover {
    color: #000;
    text-decoration: none;
}

pre.src {
    color: #f6f3e8;
    background-color: #242424;
}

figure img {
    max-width: 90%;
}

figure {
    text-align: center;
}

div.status {
    color: #CCC;
    background-color: #111;

    width: 65ex;
    margin-left: 15%;
    padding: 0.5em;
}

div.status#postamble {
    text-align: right;
}

div.status a {
    color: #888;
}

div.status a:hover {
    color: #FFF
}